DEBUG = True
TEMPLATE_DEBUG = DEBUG

ADMINS = (
    ('Dan Breen', 'dan@danbreen.net'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'games',
        'USER': '',
        'PASSWORD': '',
        'HOST': 'localhost',
        'PORT': '',
    }
}
